/*----------------------------------------*/
/*  SPACE CSS START
/*----------------------------------------*/

.m-80 {
    margin: 80px 0;
    @include media-query(1199px) {
        margin: 64px 0;
    }
    @include media-query(991px) {
        margin: 54px 0;
    }
    @include media-query(767px) {
        margin: 42px 0;
    }
}
.mt-80 {
    margin-top: 80px;
    @include media-query(1199px) {
        margin-top: 64px;
    }
    @include media-query(991px) {
        margin-top: 54px;
    }
    @include media-query(767px) {
        margin-top: 42px;
    }
}
.mb-80 {
    margin-bottom: 80px;
    @include media-query(1199px) {
        margin-bottom: 64px;
    }
    @include media-query(991px) {
        margin-bottom: 54px;
    }
    @include media-query(767px) {
        margin-bottom: 42px;
    }
}

.mt-64 {
    margin-top: 64px;
    @include short-query(992px , 1199px) {
        margin-top: 48px;
    }
    @include short-query(768px , 991px) {
        margin-top: 42px;
    }
    @include media-query(767px) {
        margin-top: 32px;
    }
}
.mb-64 {
    margin-bottom: 64px !important;
    @include short-query(992px , 1199px) {
        margin-bottom: 48px !important;
    }
    @include short-query(768px , 991px) {
        margin-bottom: 42px !important;
    }
    @include media-query(767px) {
        margin-bottom: 32px !important;
    }
}
.mt-48 {
    margin-top: 48px;
    @include short-query(992px , 1199px) {
        margin-top: 42px;
    }
    @include short-query(768px , 991px) {
        margin-top: 32px;
    }
    @include media-query(767px) {
        margin-top: 24px;
    }
}
.mb-48 {
    margin-bottom: 48px;
    @include short-query(992px , 1199px) {
        margin-bottom: 42px;
    }
    @include short-query(768px , 991px) {
        margin-bottom: 36px;
    }
    @include media-query(767px) {
        margin-bottom: 32px;
    }
}
.m-40{
    margin: 40px 0;
    @include media-query(1199px) {
        margin: 32px 0;
    }
    @include media-query(991px) {
        margin: 28px 0;
    }
    @include media-query(767px) {
        margin: 22px 0;
    }
}
.mt-40{
    margin-top: 40px;
    @include media-query(1199px) {
        margin-top: 32px;
    }
    @include media-query(991px) {
        margin-top: 28px;
    }
    @include media-query(767px) {
        margin-top: 22px;
    }
}
.mb-40{
    margin-bottom: 40px;
    @include media-query(1199px) {
        margin-bottom: 32px;
    }
    @include media-query(991px) {
        margin-bottom: 28px;
    }
    @include media-query(767px) {
        margin-bottom: 22px;
    }
}
.mb-32 {
    margin-bottom: 32px;
    @include media-query(1199px) {
        margin-bottom: 28px;
    }
    @include media-query(991px) {
        margin-bottom: 24px;
    }
    @include media-query(767px) {
        margin-bottom: 20px;
    }
}
.mb-24 {
    margin-bottom: 24px;
    @include media-query(1199px) {
        margin-bottom: 22px;
    }
    @include media-query(991px) {
        margin-bottom: 22px;
    }
    @include media-query(767px) {
        margin-bottom: 20px;
    }
}
.mb-16 {
    margin-bottom: 16px;
    @include media-query(1199px) {
        margin-bottom: 15px;
    }
    @include media-query(991px) {
        margin-bottom: 14px;
    }
    @include media-query(767px) {
        margin-bottom: 12px;
    }
}
.mb-12 {
    margin-bottom: 12px;
    @include media-query(1199px) {
        margin-bottom: 11px;
    }
    @include media-query(991px) {
        margin-bottom: 10px;
    }
    @include media-query(767px) {
        margin-bottom: 8px;
    }
}

.mb-8 {
    margin-bottom: 8px;
}
.mb-4p {
    margin-bottom: 4px;
}

// 
// Padding 
// 
.p-80 {
    padding: 80px 0;
    @include media-query(1199px) {
        padding: 64px 0;
    }
    @include media-query(991px) {
        padding: 54px 0;
    }
    @include media-query(767px) {
        padding: 42px 0;
    }
}
.pt-80 {
    padding-top: 80px;
    @include media-query(1199px) {
        padding-top: 64px;
    }
    @include media-query(991px) {
        padding-top: 54px;
    }
    @include media-query(767px) {
        padding-top: 42px;
    }
}
.pb-80 {
    padding-bottom: 80px;
    @include media-query(1199px) {
        padding-bottom: 64px;
    }
    @include media-query(991px) {
        padding-bottom: 54px;
    }
    @include media-query(767px) {
        padding-bottom: 42px;
    }
}
.p-64 {
    padding: 64px 0;
    @include media-query(1199px) {
        padding: 56px 0;
    }
    @include media-query(991px) {
        padding: 48px 0;
    }
    @include media-query(767px) {
        padding: 42px 0;
    }
}

.p-40{
    padding: 40px 0;
    @include media-query(1199px) {
        padding: 32px 0;
    }
    @include media-query(991px) {
        padding: 28px 0;
    }
    @include media-query(767px) {
        padding: 22px 0;
    }
}
.pt-40{
    padding-top: 40px;
    @include media-query(1199px) {
        padding-top: 32px;
    }
    @include media-query(991px) {
        padding-top: 28px;
    }
    @include media-query(767px) {
        padding-top: 22px;
    }
}
.pb-40{
    padding-bottom: 40px;
    @include media-query(1199px) {
        padding-bottom: 32px;
    }
    @include media-query(991px) {
        padding-bottom: 28px;
    }
    @include media-query(767px) {
        padding-bottom: 22px;
    }
}

.p-16 {
    padding: 16px;
    @include short-query(992px , 1199px) {
        padding: 15px;
    }
    @include short-query(768px , 991px) {
        padding: 13px;
    }
    @include media-query(767px) {
        padding: 10px;
    }
    @include media-query(490px) {
        padding: 10px;
    }
}
