/* Error: expected ":".
 *   ,
 * 4 |     .slider-block{
 *   |                  ^
 *   '
 *   assets\sass\layout\back.css 4:18  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ":".\a   \2577 \a 4 \2502      .slider-block{\d\a   \2502                   ^\a   \2575 \a   assets\\sass\\layout\\back.css 4:18  root stylesheet';
}
