.about{
    .img-block{
        background-color: $lightest-gray;
        box-shadow: $shadow;
        border-radius: 30px;
        padding: 64px 0;
        @include media-query(991px) {
            padding: 48px 0;
        }
        @include media-query(768px) {
            padding: 32px;
        }
    }
    .content-block{
        height: 100%;
        display: grid;
        align-content: center;
        ul{
            li{
                display: flex;
                gap: 8px;
                h6{
                    color: $dark-gray;
                }
            }
        }
        .block{
            background-color: $lightest-gray;
            box-shadow: $shadow;
            border-radius: 10px;
            padding: 16px 28px;           
        }
    }
}