// Header
header{
  &.large-screens{
    height: 100px;
    padding: 28px 0;
    @include media-query(992px) {
      display: none;
    } 
  }
  width: 100%;
  background: transparent;
  nav{
    &.navbar-expand-lg{
      padding: 0;
    }
    .navbar-brand{
      padding: 0;
      margin: 0;
      width: auto;
    }
    .navbar-nav{
      display: flex;
      align-items: center;
      gap: 24px;
      .menu-item{
        a{
          font-size: 21px;
          font-weight: 500;
          line-height: 130%;
          // padding: 28px 0;
          &:hover{
            color: $accent-1;
          }
        }
      }
    }
  }
  /*---------------------
      HAMBURGER MENU
  ----------------------*/
  &.small-screen{ 
    position: fixed;
    z-index: 990;
    top: 40px;
    height: 62px;
    padding: 16px 0 8px;
    background: $lightest-gray;
    @include widther(991px) {
      display: none;
    }
    .mobile-menu{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
    }
    .hamburger-menu {
      display: grid;
      justify-content: end;
      width: 100%;
      height: 22px;
      cursor: pointer;
      z-index: 9998;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      .bar {
        position: relative;
        transform: translateY(10px);
        background: $black;
        transition: all 0ms 300ms;
        width: 24px;
        height: 2px;
        cursor: pointer;
        &:before {
          width: 24px;
          height: 2px;
          cursor: pointer;
          content: "";
          position: absolute;
          left: 0;
          bottom: 10px;
          background: $black;
          transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &:after {
          width: 24px;
          height: 2px;
          cursor: pointer;
          content: "";
          position: absolute;
          left: 0;
          top: 10px;
          background: $black;
          transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
        }
        &.animate {
          background: rgba(255, 255, 255, 0);
          &:after {
            top: 0;
            transform: rotate(45deg);
            transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
          }
          &:before {
            bottom: 0;
            transform: rotate(-45deg);
            transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
          }
        }
      }
    }
    .mobile-navar {
      ul {
        margin: 0;
        padding: 0;
        li {
          font-size: 20px;
          line-height: 30px;
          margin: 0;
          overflow: hidden;
          padding: 5px;
          position: relative;
          text-align: left;
          text-transform: uppercase;
          padding-left:15px;
          &:first-child {
            margin-top: 20px;
          }
          
          a {
            text-decoration: none;
            color: $black;
            &.active {
              color: $black;
            }
            &:hover {
              color: $black;
            }
          }
        }
      }
    }
    .mobile-navar {
      top: 0px;
      padding-top: 70px;
      max-width: 300px;
      right: -300%;
      width: 100%;
      background: $gradient;
      color: $black;
      height: 100%;
      padding-bottom: 20px;
      position: fixed;
      z-index: 9997;
      overflow-y: auto;
      -webkit-transform: translate3d(0, 0, 205px);
      -moz-transform: translate3d(0, 0, 205px);
      transform: translate3d(0, 0, 205px);
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      &.active {
        right: 0;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
      }
    }
    .has-children{
      &.active {
        color: $accent-1;
      }
      &:hover{
        cursor: pointer;
      }
    }
    .mobile-navar{
      .children {
        display:none;	
        li{
          a {
            font-size: 18px;
            line-height: 30px;
          }
          &:first-child {
            margin-top: 0px;
          }
        }
      }
    }
    .icon-arrow {
      position: absolute;
      display: block;
      font-size: 0.7em;
      color: $accent-1;
      top: 5px;
      right: 10px;
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg); 
      transition: .6s;
      -webkit-transition: .6s;
      -moz-transition: .6s;	 
      &:after {
        content: "\25BC";
      }
      &:hover{
        transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg); 
      }
    }
  }
}

