img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul.list-style,
ol.list-style {
  padding: 0;
}

ul.list-style li::marker,
ol.list-style li::marker {
  color: $accent-1;
}

.unstyled {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}
.page-content{
  margin: 20px 0;
}


/*-------------------------
    Typography
-------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  color: $light-black;
  background-color: $white;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
  height: 100%;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6,
address,
p,
pre,
blockquote,
table,
hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;
  }
}

h1{
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  letter-spacing: -1.22px;
  @media(max-width: 992px) {
    font-size: 52px;
  }
  @media(max-width: 767px) {
    font-size: 44px;
  }
  @media(max-width: 575px) {
    font-size: 36px;
  }
}
h2{
  font-weight: 500;
  font-size: 47px;
  line-height: 125%;  
  letter-spacing: -0.47px; 
  @media(max-width: 992px) {
    font-size: 42px;
  }
  @media(max-width: 767px) {
    font-size: 36px;
  }
  @media(max-width: 575px) {
    font-size: 32px;
  }
}
h3{
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing:  -0.27px;
  @media(max-width: 992px) {
    font-size: 32px;
  }
  @media(max-width: 767px) {
    font-size: 30px;
  }
  @media(max-width: 575px) {
    font-size: 26px;
  }  
}
h4{
  font-weight: 500;
  font-size: 27px;
  line-height: 120%;
  letter-spacing: -0.01em;
  @media(max-width: 992px) {
    font-size: 26px;
  }
  @media(max-width: 767px) {
    font-size: 24px;
  }
  @media(max-width: 575px) {
    font-size: 22px;
  }   
}
h5{
  font-weight: 600;
  font-size: 21px;
  line-height: 130%;
  @media(max-width: 1199px) and (min-width: 992px) {
    font-size: 18px;
  }
  @media(max-width: 992px) {
    font-size: 20px;
  }
  @media(max-width: 767px) {
    font-size: 18px;
  }
  @media(max-width: 575px) {
    font-size: 16px;
  }   
}
h6{
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
  @media(max-width: 992px) {
    font-size: 15px;
  }
  @media(max-width: 767px) {
    font-size: 14px;
  }
  @media(max-width: 575px) {
    font-size: 13px;
  }   
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.32px;
  @media(max-width: 992px) {
    font-size: 15px;
  }
  @media(max-width: 767px) {
    font-size: 14px;
  }
}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
  &:hover {
    color: $accent-1;
    transition: $transition;
  }
}
span {
  display: inline-block;
}
b,
strong {
  font-family: $font-primary;
}
.top-bar-img{
  height: 80px;
  object-fit: cover;
  @media(max-width: 1440px) {
    height: 60px;
  }
  @media(max-width: 1199px) {
    object-position: -100px;
  }
  @media(max-width: 992px) {
    position: fixed;
    top: 0;
    height: 40px;
  }
}